# <gitmoji> <type>: <subject>
##### Maximum length of subject is 50 ####### -> |

# content
######## Maximum length of content is 72 ########################## -> |

# issue track number (#number)

# --- COMMIT END ---
# <type> list
#   feat                  : New feature
#   fix                   : Fix bug
#   refactor              : Refactor code
#   style                 : Change style of code(white space, semicolon etc)
#   test                  : Add/Change/Delete test case
#   docs                  : Add/Change/Delete document
#   build                 : Change in build script
#   ci                    : Change in ci script
#   chore                 : etc
# ------------------
# <gitmoji> list
#   :sparkles:            : ✨ feat:
#   :bug:                 : 🐛 fix:
#   :recycle:             : ♻️  refactor:
#   :lipstick:            : 💄 style:
#   :white_check_mark:    : ✅ test:
#   :memo:                : 📝 docs:
#   :hammer:              : 🔨 build:
#   :package:             : 📦️ chore:
# ------------------
#   Capitalize the subject line
#   Use the imperative mood in the subject line
#   Do not end the subject line with a period
#   Separate subject from body with a blank line
#   Use the body to explain what and why vs. how
#   Can use multiple lines with "-" for bullet points in body
# ------------------
